@import "./common";
@import "./variable";
@import "./mixin/base";

.home {
  .mixin-width-height();
  .mixin-flex(@flex-direction: column);
  position: relative;
  .page-header {
    .mixin-flex();
    .mixin-width-height(@height: 10%);
    background: url("../img/header.png");
    background-size: cover;

    .switch-page {
      .mixin-flex(@justify-content: space-around);
      flex: 1;
      height: 100%;
      font-size: @titleFontSize;
      color: @titleFontColor;
      font-weight: @titleFontWeight;

      button:hover {
        border-bottom: solid @themeColor3 4px;
      }
    }

    .title {
      .mixin-flex(@justify-content: center);
      .defaultFontStyle();
      flex: 2;
      box-sizing: border-box;
      height: 100%;
      span {
        display: inline-block;
        margin-bottom: 10px;
        .titleFontStyle(@font-size: @titleFontSize*1.5, @font-weight: 0);
      }
    }

    .weather-box {
      flex: 1;
      height: 80%;
      .mixin-flex(@justify-content: center);
      .button-area {
        flex: 1;
      }
      .weather-area {
        flex: 3;
      }
    }
  }
  .page-body {
    .mixin-flex();
    .mixin-width-height(@height: 90%);

    .side {
      box-sizing: border-box;
      .mixin-width-height(@width: 25%);
      .mixin-flex(@flex-direction: column);
      margin-left: 5px;
      padding-right: 5px;
      border-right: 2px @themeColor1 solid;

      .side-body {
        .mixin-width-height();
        .mixin-flex(@flex-direction: column);

        [class|="box"] {
          .mixin-width-height();
          position: relative;

          .container {
            .mixin-width-height();
          }

          .header-icon-area {
            .mixin-flex();
            color: white;
            font-size: @defaultFontSize;
            margin-left: 20px;

            .header-icon {
              letter-spacing: 3px;
              margin-left: 20px;
            }
          }
        }

        .box-1 {
          flex: 1;
        }

        .box-2 {
          flex: 1;
          .granularity-switch {
            .mixin-flex(@justify-content: space-around);
            .mixin-width-height(@height: 10%);
            color: @defaultFontColor;
            font-weight: @defaultFontSize;
          }
        }

        .box-3 {
          flex: 1;
          .mixin-flex(@flex-direction: column);
          overflow: hidden;
        }
      }
    }

    .mid {
      .mixin-width-height(@width: 75%);
      .mixin-flex();
      box-sizing: border-box;
      margin: 0 5px 0 5px;
      position: relative;

      .map-area {
        .mixin-width-height(@height: 90%, @width: 90%);
        position: fixed;
        z-index: 2;
      }
      .info-area {
        .mixin-width-height(@width: 35%, @height: 100%);
        position: absolute;
        background-color: fade(@backgroundColor, 50%);
        right: 0;
        top: 0;
        z-index: 5;
      }

      .tooltip {
        .mixin-width-height(@width: 15%, @height: 18%);
        .mixin-flex(
          @flex-direction: column,
          @justify-content: center,
          @align-items: center
        );
        .titleFontStyle();
        position: absolute;
        background-color: fade(@themeColor1, 30%);
        border: fade(@themeColor1, 80%) 2px solid;
        border-radius: 5%;
        left: 0;
        bottom: 0;
        z-index: 4;
        div {
          width: 100%;
          margin-left: 15px;
          .mixin-flex();
          .iconfont {
            font-size: @titleFontSize*1.5;
            &.busy {
              color: yellow;
            }
            &.error {
              color: red;
            }
            &.normal {
              color: green;
            }
          }
        }
      }

      .slide-enter-active {
        -webkit-animation: slideRightReturn 1.5s 1;
        animation: slideRightReturn 1.5s 1;
      }
      .slide-leave-active {
        -webkit-animation: slideRight 0.5s 1;
        animation: slideRight 0.5s 1;
      }
      .slideBottom-enter-active {
        -webkit-animation: slideDownReturn 1.5s 1;
        animation: slideDownReturn 1.5s 1;
      }
      .slideBottom-leave-active {
        -webkit-animation: slideDown 1.5s 1;
        animation: slideDown 1.5s 1;
      }
    }
  }
}
