@import "./common";
@import "./variable";
@import "./mixin/base";

@header-height: 10%;
@side-width: 27%;
@box-background: rgba(0, 0, 0, 0.1);

.home {
  .mixin-flex(column);
  .mixin-width-height();
  position: absolute;
  z-index: 1;
  pointer-events: all;

  .head-area {
    .mixin-flex();
    .mixin-width-height(@height: @header-height);
    position: absolute;
    background: url("../img/header.png") no-repeat;
    background-size: 100%, 100%;
    top: 0;

    .head-logo {
      .mixin-flex(@justify-content: center);
      .mixin-width-height(40%);
      position: relative;
      color: @titleFontColor;
      font-size: @titleFontSize;
      letter-spacing: 6px;
      text-transform: uppercase;
      white-space: pre;

      span {
        opacity: 0;
        transform: scale(0);
        animation: fadeIn 2.4s forwards;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        width: 2px;
        height: 100%;
        background: white;
        opacity: 0;
        transform: scale(0);
      }
      &::before {
        left: 50%;
        animation: slideLeft 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
      }
      &::after {
        right: 50%;
        animation: slideRight 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
      }
    }
    @keyframes fadeIn {
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
    @keyframes slideLeft {
      to {
        left: -6%;
        opacity: 1;
        transform: scale(0.9);
      }
    }
    @keyframes slideRight {
      to {
        right: -6%;
        opacity: 1;
        transform: scale(0.9);
      }
    }

    .head-network-switch,
    .head-weather {
      .mixin-flex();
      .mixin-width-height(25%, 80%);
    }
  }

  .body-area {
    .mixin-flex();
    .mixin-width-height(@height:100%- @header-height);
    position: absolute;
    z-index: 0;
    top: @header-height;
    border: 7px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;

    .side-row {
      .mixin-flex(@flex-direction: column);
      .mixin-width-height(@width: @side-width);
      z-index: 2;

      .box {
        .mixin-width-height(100%, auto);
        position: relative;
        margin: 2px;
        overflow: hidden;
        background: @box-background;

        [class|="box-border"] {
          position: absolute;
          .mixin-width-height(10px, 10px);
        }
        .box-border-1 {
          top: 0;
          right: 0;
          border-top: solid @borderWidth @borderColor;
          border-right: solid @borderWidth @borderColor;
        }
        .box-border-2 {
          top: 0;
          left: 0;
          border-top: solid @borderWidth @borderColor;
          border-left: solid @borderWidth @borderColor;
        }
      }
      .box-1 {
        flex: 3 3 percentage(3/ (3+3+5));
      }
      .box-2 {
        flex: 3 3 percentage(3/ (3+3+5));
      }
      .box-3 {
        flex: 5 5 percentage(5/ (3+3+5));
      }
      .box-4 {
        flex: 3;
      }
      .box-5 {
        flex: 4;
      }
      .box-6 {
        flex: 5;
      }
      .legend-area {
        .mixin-width-height(100%, 1vw);
      }
      .content-area {
        .mixin-width-height(100%, calc(~"(100% - 1vw)"));
      }
    }
    .mid-bottom {
      .mixin-flex();
      .mixin-width-height(100%-2 * @side-width, 30%);
      z-index: 2;
      align-self: flex-end;

      .list-area {
        .mixin-width-height();
        .mixin-flex();
        .box {
          .mixin-width-height(auto, 100%);
          margin: 5px;
          overflow: hidden;
          background: @box-background;
        }
        .list-container-1 {
          flex: 5;
          margin-right: 2.5px;
        }
        .list-container-2 {
          flex: 3;
          margin-left: 2.5px;
        }
      }
    }
    .map-background {
      .mixin-width-height(@height: 100%-@header-height);
      position: fixed;
      z-index: 1;
    }
  }
}
