@backgroundColor: #061a53;
@defaultFontSize: 12px;
@defaultFontColor: #f0f8ff;
@defaultFontWeight: 500;
@titleFontSize: 20px;
@titleFontColor: #f0f8ff;
@titleFontWeight: 800;
@selectedColor: #ff9900;
@titleDescribeSize: 4px;
@borderColor: #0099ff;
@themeColorDark: #061a53;
@themeColor1: #1795e9;
@themeColor2: #9e175f;
@themeColor3: #ca8622;
@themeColor4: #23a5b3;
@themeColor5: #08a163;
@themeColor6: #9704bb;
@themeColor7: #081ca1;
@themeColor8: #e32068;
@themeColor9: #40444b;
