@backgroundColor: #0C143F;

@defaultFontSize: 15px;
@defaultFontColor: #F8F8FF;
@defaultFontWeight: 500;

@titleFontSize: 20px;
@titleFontColor: #F8F8FF;
@titleFontHeight: 800;

@selectedColor: #ff9900;
